
#header{
    margin-left: 80%;
}
.list{
    display: inline-block;
    margin: 10px;
}

a{
    text-decoration: none;
    color: black;
}

#button{
    margin-left: 90%;
    position: relative; top: -30px;
}

.sign{
    border-radius: 14px;
    background-color: blue;
    width: 80%;
    height: 5vh;
    color: white;
    font-size: 1em;
    border: none;
    cursor: pointer;
}


#main-content{
    margin: auto;
    
    width: 50%;
    margin-top: 2%;
}
img{
    width: 37%;
    height: 13vh;
    margin-left: 30%;
    margin-top: -3px;
}
input{
    margin-left: 10%;
    width: 90%;
    height: 6vh;
    border-radius: 27px;
    margin: 0px; 
    border-color: rgb(164, 163, 163);
}
#dtm-container{
    margin-left: 24%;
    margin-top: 1%;
}   

.btns{
    padding: 6px;
    cursor: pointer;
    background-color: whitesmoke;
    width: 30%;
    height: 40px;
    border-color: transparent;
    box-shadow: 40px ;
}

.lang-container{
    margin-bottom: 6px;
    margin-left: 30%;
}

.language{
    margin-left: 20%;
    margin: 4px;
    color: rgb(8, 8, 163);   
}

#footer{
    background-color: rgb(234, 233, 233);
    margin-top: 15%;
    height: 10vh;
    padding: 20px; 
    width: 97%;
      
}

hr{
    width: 111.8%;
    margin-left: -10%;
    margin-top: 1.5%;
    color: rgb(164, 12, 12);
}

.bottom{
    display: inline-block;
    margin: 15px;
    position: relative;left: -50px;
    position: relative; top: -16px;
}

.last-last{
    margin-left: 70%;
}

.last{
    position: relative; top: -65px; left: 190px;
    display: inline-block;
    margin: 15px;
    
}

