*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lavender;
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
}

.media-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    font-size: large;
    height: 300px;
    width: 500px;
    position: absolute;left: 30%;
    background-image: linear-gradient(to right,pink, bisque);
}
/* for mobile phones potrait or landscape view*/
@media screen and (max-device-width: 928px)
    and (orientation: potrait){
        .media-div{
            width: 320px;
            height: 928px;
            background-image: linear-gradient(to right,linen, honeydew);
            color: green;
            font-size: small;
            text-align: center;
        }
    }

    @media (prefers-reduced-motion: no-preference) {
        :root {
          scroll-behavior: smooth;
        }
      }
