*{
  margin: 0;
  padding: 2px;
  box-sizing: border-box;  
}

body{
    background-image: linear-gradient(to bottom right, rgb(213, 216, 223), rgb(0, 170, 255));
    background-color: lavender;
}

.main-container{
    border: solid navy 1px;
    width: 80%;
    margin: auto;
    height: 90vh;
    display: flex;
    margin-top: 2%;
    border: none;
}

.right-container{
    border: solid white 3px;
    flex-basis: 50%;
    background-color: white;
}

input{
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative; left: 3%;
    margin: 34px;
    width: 36%;
    margin-top: 50px;  
}

.long-input{
    width: 81%;
    position: relative; left: 9%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px grey solid;
    color: grey;
    margin-top: 30px;
}

h1{
    position: relative;left: 9%;
    color: blue;
    margin-top: 50px;
}

.position{
    width: 81%;
    border-left: none;
    border-top: none;
    border-right: none;
    position: relative; left: 9%;
    border-bottom: 2px solid grey;
    color: grey;
    margin-top: 28px;
}

.employees{
    width: 43%;
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative; left: -2%;
    border-bottom : 2px solid grey;
    color: grey;
}

.text{
    width: 81%;
    margin-top: 12%;
}

.fname{
    width: 37%;
}

.lname{
    width:38%;
    position: relative; left: -3%;
}

.left-container{
    border: solid blue 3px;
    flex-basis: 50%;
    background-color: blue;
}

h2{
    color: white;
    font-size: xx-large;
    position: relative;left: 7%; top: 49px;
}

.one{
    background-color: blue;
    border-color: white;
    position: relative;top: 30px;
    width: 81%;
    padding: 2px;
    border-bottom: 1px solid white;
}

.two{
    background-color: blue;
    border-color: white;
    position: relative;top: 1px;
    width: 81%;
    padding: 2px;
    border-bottom: 1px solid white;
}

.three{
    background-color: blue;
    color: white;
    width: 15%;
    position: relative;top: -25px;
    border-color: white;
    padding: 2px;
    border-bottom: 1px solid white;
}

.three::placeholder{
    color: white;
    border-color: white;   
}

.four{
    width: 63%;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: blue;
    color: white;
    border-color: white;
    position: relative;top: -25px;
    border-bottom: 1px solid white;
    padding: 2px;
}

.five{
    width: 81%;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: blue;
    color: white;
    border-color: white;
    position: relative; left: 9%;
    border-bottom: 1px solid white;
    padding: 1px;
}
.six{
    width: 17%;
    background-color: blue;
    border-color: white;
    padding: 2px;
    border-bottom: 1px solid white;
}

.seven{
    width: 57%;
    position: relative;left: -2%;
    background-color: blue;
    border-color: white;
    padding: 2px;
    border-bottom: 1px solid white;
}
.email{
    background-color: blue;
    width: 81%;
    position: relative;top: -30px;
    border-color: white;
    padding: 1px;
    border-bottom: 1px solid white;
}

.checkbox{
    position: relative;top: -80px;left: -15%;
    color: blue;
}



span{
    color: white;
    position: relative;top: -132px;left: 15%;
}
a{
    color: white;
    padding: 2px;
}
.one::placeholder{
    color: white;
}

.two::placeholder{
    color: white;
}

.six::placeholder{
    color: white;
}

.seven::placeholder{
    color: white;
}

.email::placeholder{
    color: white;
}

button{
    position: relative;top: -89px; left: -50%;
    border-radius: 10px;
    width: 20%;
    background-color: white;
    border-color: white;
    padding: 5px;
}